@import '../../';

.produce-list {
  display: flex;
  flex-direction: column;
}

.produce-list li {
  margin-bottom: 8px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  border: 1px solid var(--light-grey);
  border-radius: 16px;
  padding: 16px;
}

.produce-list li:last-child {
  margin-bottom: 0;
}

.like-button, .plus-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--creme);
  color: var(--tan);
  background-color: var(--white);
  margin: 5px;
}

button.selected {
  color: var(--tan);
  background-color: var(--creme);
}
