@import 'variables.css';

html {
  font-family: sans-serif;
}

* {
  font-family: "Inter", "sans-serif";
  font-weight: 400;
}

html, body, h1, h2, h3, h4, h5, h6, main, nav, div, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: "Poppins", "sans-serif";
  font-size: 40;
  color: #B08A69;
  margin-block: 40px;
}

h2 {
  font-weight: 300;
  margin: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid var(--black);
}


input {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  right: -300px;
  transition: all 0.2s linear;
  background-color: whitesmoke;
  box-shadow: 0px 0 8px 1px lightgray;
}

main {
  margin-top: 54px;
  transition: all 0.2s linear;
  padding: 16px;
}

nav {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

nav, .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  background-color: #EADED7;
  box-shadow: 3px -1px 3px 3px lightgray;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.checkout-button, .arrow-button, button[type="submit"] {
  color: white;
  height: 32px;
  background-color: #B08A69;
  border: 0;
  border-radius: 8px;
  min-width: 32px;
}

.checkout-button i {
  margin-right: 8px;
}